<div fxLayout="column wrap" class="padding20 bgWhiteColorBlack" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width80" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/33.jpg" class="width100"></div>
    <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true">
      <h1>
        Enhance your interior <br>
        through design</h1>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the<br> majority have suffered alteration in some form, by injected humour, or randomised words which<br> don&apos;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&apos;t<br> anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to <br>repeat predefined chunks as necessary, making this the first true generator on the Internet. It <br>uses a dictionary of over 200 Latin words, combined with a handful<br> of model sentence structures, to generate Lorem Ipsum <br>which looks reasonable. The generated Lorem Ipsum is therefore always <br>free from repetition, injected humour, or non-characteristic words etc.</p>
    </div>
  </div>
  <div fxLayout="row wrap" class="width80" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/33.jpg" class="width100"></div>
</div>