<div fxLayout="column wrap" class="lightblueBg" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width80" fxLayoutAlign="space-between center" [fxShow]="true" fxLayout.xs="column">
    <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true">
      <h1>
        Explore Our Project</h1>
    </div>
    <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
        We love our residential design and build projects - big and small From full builds, major renovations or a new lease off life to individual space and create perfect place.</div>
    </div>
  </div>
  <div fxLayout="row " class="width80" fxLayoutAlign="space-between center" [fxShow]="true" ngClass.lt-md="respImage" fxLayoutGap.lt-md="1em">
    <div fxLayout="column wrap" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let data of page.section2.housesImages" fxFlex.lt-md="292px"><img imgSrc="{{data.image}}" class="width100 gallary">
      <h2>
        {{data.title}}
      </h2>
      <p>
        {{data.paragraph}}<br><br>
        {{data.date}}
      </p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div>
    </div>
  </div>
</div>