<div fxLayout="column wrap" class="lightblueBg" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width80" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true">
      <h1>
        Explore Our Project</h1>
    </div>
    <div fxLayout="column wrap" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
        There are many variations of passages of Lorem Ipsum available, but the<br> majority have suffered alteration in some form, by injected humour, or randomised words which<br> don&apos;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there.</div>
    </div>
  </div>
  <div fxLayout="row wrap" class="width80" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="23" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/33.jpg" class="gallary">
      <h2>
        tittle</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl varius, el<br><br>
        Date</p>
    </div>
    <div fxLayout="column wrap" fxFlex="23" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/33.jpg" class="gallary">
      <h2>
        tittle</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl varius, el<br><br>
        Date</p>
    </div>
    <div fxLayout="column wrap" fxFlex="23" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/33.jpg" class="gallary">
      <h2>
        tittle</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl varius, el<br><br>
        Date</p>
    </div>
    <div fxLayout="column wrap" fxFlex="23" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/33.jpg" class="gallary">
      <h2>
        tittle</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl varius, el<br><br>
        Date</p>
    </div>
  </div>
</div>