<div fxLayout="column " fxLayoutAlign="center center" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-section1 class="width100"></bh-section1>
  </div>
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-exploreComponent class="width100"></bh-exploreComponent>
  </div>
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-enhanceComponent class="width100"></bh-enhanceComponent>
  </div>
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-specialComponent class="width100"></bh-specialComponent>
  </div>
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-testimonials class="width100"></bh-testimonials>
  </div>
</div>