<div fxLayout="column wrap" class="paddingTp34 lightblueBg width100" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row " class="paddingTp34 width100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true"><img imgSrc="/Web/images/34.jpg" class="images"></div>
    <div fxLayout="column wrap" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true"><img imgSrc="/Web/images/35.jpg" class="images"></div>
    <div fxLayout="column wrap" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true"><img imgSrc="/Web/images/36.jpg" class="images"></div>
    <div fxLayout="column wrap" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true"><img imgSrc="/Web/images/37.jpg" class="images"></div>
    <div fxLayout="column wrap" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true"><img imgSrc="/Web/images/38.jpg" class="images"></div>
    <div fxLayout="column wrap" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true"><img imgSrc="/Web/images/36.jpg" class="images"></div>
    <div fxLayout="column wrap" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true"><img imgSrc="/Web/images/37.jpg" class="images"></div>
    <div fxLayout="column wrap" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true"><img imgSrc="/Web/images/34.jpg" class="images"></div>
    <div fxLayout="column wrap" fxFlex="12" fxLayoutAlign="space-between center" [fxShow]="true"><img imgSrc="/Web/images/35.jpg" class="images"></div>
  </div>
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="center center" [fxShow]="true">
    <h1 class="font50 width80">
      Trusted by over 150+ organizations in<br>more than 50 countries</h1>
  </div>
  <div fxLayout="row " class="width80" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" [fxShow]="true">
      <mat-icon class="quoteIcon">format_quote</mat-icon>
    </div>
  </div>
  <div fxLayout="row wrap" class="width80" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
      <p class="fontsize29">
        An architect&apos;s design must refer to the unquestionable perfection of the<br> body&apos;s symmetry and propotions.If a building is to create a sense of<br> eurythmy,it mirrors these natural laws of harmony and beuty</p>
      <div class="bold">
        John Lenon-CO Founder of <span>Veeza</span></div>
    </div>
  </div>
  <div fxLayout="row wrap" class="bgblackColorwhite width100" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="width100" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" class="paddingTp34" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
          <h1 class="font50">
            Ready to take action?</h1>
          <div fxLayout="row wrap" class="paddingBt34" fxLayoutAlign="start stretch" [fxShow]="true">
            <div class="fontsize29">
              Get in touch</div>
            <mat-icon>call_made</mat-icon>
          </div>
          <div>
            <hr class="solid">
          </div>
          <div fxLayout="row wrap" class="width100" fxLayoutAlign="space-between start" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutGap="45" fxLayoutAlign="start start" [fxShow]="true">
              <h1>
                veeza</h1>
            </div>
            <div fxLayout="column wrap" fxFlex="52" fxLayoutAlign="start start" [fxShow]="true">
              <div fxLayout="row wrap" class="width100" fxLayoutGap="1em" fxLayoutAlign="space-between start" [fxShow]="true">
                <div fxLayout="column wrap" fxFlex="29" fxLayoutAlign="center start" [fxShow]="true">
                  <div>
                    TechnologyPark<br>8-14MarieCurieStreet<br>08042Barcelona</div>
                </div>
                <div fxLayout="column wrap" fxFlex="29" fxLayoutAlign="center start" [fxShow]="true">
                  <div>
                    +442071838750<br>veeza@email.io</div>
                </div>
                <div fxLayout="column wrap" fxFlex="29" fxLayoutAlign="center start" [fxShow]="true">
                  <div class="underline">
                    AboutUs<br>CommandCenter<br>Documentation</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" class="width100 footer" fxLayoutAlign="space-around center" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            since2022</div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            &#xA9; COPYRIGHT BY AZIE-VEEZA</div>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            TERM PRIVACY POLICY</div>
        </div>
      </div>
    </div>
  </div>
</div>